.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  text-align: center;
  font-weight: bold;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

/*フォント小さめのテーブル*/
.reveal table.small_font th,
.reveal table.small_font td {
  font-size: 30px;
}
.reveal table tr:last-child td {
    border-bottom: none;
}



/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #08122e;
  background: -moz-radial-gradient(center, circle cover, #0b2468 0%, #08122e 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #0b2468), color-stop(100%, #08122e));
  background: -webkit-radial-gradient(center, circle cover, #0b2468 0%, #08122e 100%);
  background: -o-radial-gradient(center, circle cover, #0b2468 0%, #08122e 100%);
  background: -ms-radial-gradient(center, circle cover, #0b2468 0%, #08122e 100%);
  background: radial-gradient(center, circle cover, #0b2468 0%, #08122e 100%);
  background-color: #08122e; }

